* In order to calculate similarity using Cosine similarity, I will first perform lemmatization Using PorterStemmer to reduce words to the same root word. 

* PorterStemmer uses Suffix Stripping to do stemming which is used to normalize the words in a sentence 
and give the root (stem) of the word.

**Eg:** **"Cat"** is the root word or stem that would be obtained by Using PorterStemmer over The word **"Cats"** 

* After Normalizing The the tokens will be passed to the TfidfVectorizer to pass the text whcih will change them into feature vectors that can be used as input to estimator

* Finally, I'll Calculate the cosine Similarity Score to estimate the Similarity scores beween the twoo sentences passed and save those scores in a CSV file.

In [3]:
import collections

import numpy as np
import pandas as pd

import nltk, string
from nltk import word_tokenize # Convert paragraph in tokens
from sklearn.feature_extraction.text import TfidfVectorizer

%matplotlib inline

nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [0]:
text_data = pd.read_csv("Text_Similarity_Dataset.csv")

In [5]:
text_data.loc[text_data['text1'] == text_data['text2']]

      Unique_ID  ...                                              text2
3403       3403  ...  holmes starts 2005 with gb events kelly holmes...

[1 rows x 3 columns]

In [0]:
stemmer = nltk.stem.porter.PorterStemmer()
remove_punctuation_map = dict((ord(char), None) for char in string.punctuation)

# Function is used to tokenize the text passed
def stem_tokens(tokens):
    return [stemmer.stem(item) for item in tokens]

'''remove punctuation, lowercase, stem'''
def normalize(text):
    return stem_tokens(nltk.word_tokenize(text.lower().translate(remove_punctuation_map)))

vectorizer = TfidfVectorizer(tokenizer=normalize, stop_words='english')

# Function To calculate cosine score which is 
def cosine_sim(text1, text2):
    tfidf = vectorizer.fit_transform([text1, text2])
    return ((tfidf * tfidf.T).A)[0,1]

In [7]:
similarity = []
for ind in text_data.index:
    
        s1 = text_data['text1'][ind]
        s2 = text_data['text2'][ind]

        similarity.append(cosine_sim(s1,s2))

/usr/local/lib/python3.6/dist-packages/sklearn/feature_extraction/text.py:385: UserWarning: Your stop_words may be inconsistent with your preprocessing. Tokenizing the stop words generated tokens ['abov', 'afterward', 'alon', 'alreadi', 'alway', 'ani', 'anoth', 'anyon', 'anyth', 'anywher', 'becam', 'becaus', 'becom', 'befor', 'besid', 'cri', 'describ', 'dure', 'els', 'elsewher', 'empti', 'everi', 'everyon', 'everyth', 'everywher', 'fifti', 'formerli', 'forti', 'ha', 'henc', 'hereaft', 'herebi', 'hi', 'howev', 'hundr', 'inde', 'latterli', 'mani', 'meanwhil', 'moreov', 'mostli', 'nobodi', 'noon', 'noth', 'nowher', 'onc', 'onli', 'otherwis', 'ourselv', 'perhap', 'pleas', 'seriou', 'sever', 'sinc', 'sincer', 'sixti', 'someon', 'someth', 'sometim', 'somewher', 'themselv', 'thenc', 'thereaft', 'therebi', 'therefor', 'thi', 'thu', 'togeth', 'twelv', 'twenti', 'veri', 'wa', 'whatev', 'whenc', 'whenev', 'wherea', 'whereaft', 'wherebi', 'wherev', 'whi', 'yourselv'] not in stop_words.
  'stop_words.' % sorted(inconsistent))

In [8]:
final_score = pd.DataFrame({'Unique_ID':text_data.Unique_ID,
                     'Similarity_score':similarity})
final_score.head(3)

   Unique_ID  Similarity_score
0          0          0.045458
1          1          0.039940
2          2          0.190521

In [0]:
final_score.to_csv('final_score.csv',index=False)

In [10]:
final_score[final_score.Similarity_score > 0.3]

      Unique_ID  Similarity_score
284         284          0.423319
472         472          0.312475
1118       1118          0.359319
1652       1652          0.326836
2284       2284          0.944737
2410       2410          0.325370
2731       2731          0.313730
3013       3013          0.423828
3056       3056          0.469423
3149       3149          0.309991
3163       3163          0.303813
3281       3281          0.308650
3297       3297          0.333646
3403       3403          1.000000
3421       3421          0.382186
3459       3459          0.310773
3552       3552          0.400593
3640       3640          0.314528
3732       3732          0.331845
3738       3738          0.333632
3812       3812          0.341759
3859       3859          0.450766
3937       3937          0.366514

In [11]:
final_score[final_score.Similarity_score > 0.9]

      Unique_ID  Similarity_score
2284       2284          0.944737
3403       3403          1.000000

In [13]:
text_data.loc[text_data['Unique_ID'] == 2284]

      Unique_ID  ...                                              text2
2284       2284  ...  dvd copy protection strengthened dvds will be ...

[1 rows x 3 columns]

In [14]:
text_data.loc[text_data['Unique_ID'] == 3403]

      Unique_ID  ...                                              text2
3403       3403  ...  holmes starts 2005 with gb events kelly holmes...

[1 rows x 3 columns]